@media only screen and (max-width: 900px) {
.wrapper {width: unset; margin: 5%; !important}
.tutorial-list p {margin: 30px 6% 30px;}
.tutorial {padding-bottom: 50px;}
h4 {padding: 6%;}
#hero-spot h2 {padding: 2%;}
h1 {margin: 3%; padding-top: 10%}

}
